<div class="nav-item px-3">
    <NavLink class="nav-link" href="rh">
        <span class="bi bi-people-fill" aria-hidden="true"></span> RH & Pagamentos
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="manutencao">
        <span class="bi bi-wrench-adjustable" aria-hidden="true"></span> Oficina & OS
    </NavLink>

</div>